<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Project 2 - iVis17</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/jquery-ui.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

	<!-- External -->
	<script src="https://d3js.org/d3.v3.min.js"></script>
  	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


	<!-- Internal -->
	<script src="lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/dataManager.js"></script>
	<script src="js/controllers/myCtrl.js"></script>
	<script src="js/d3/d3.tip.v0.6.3.js"></script>
	<script src="js/d3/pieChart.js"></script>
	<script src="js/d3/diffPlot.js"></script>
	

</head>
<body id="app" ng-app="myApp" ng-controller="myCtrl">
	<div class="container-fluid">

		<!-- THE HEADER -->
		<div id="header" class="row">
			<h1 style="color: #F8F8F8">Visualizing the World Through its Own Worldview</h1>
			<h3 style="color: #F8F8F8">Made by Hannes Vestberg in 2017 - Information Visualization, KTH</h3>
		</div>


		<!-- VISUALIZATIONS -->
		<div id="visualizationContent" class="row">

			<!-- STEP 1 - COUNTRY PICKER -->
			<div id="slider" class="col-md-2" style="top:250px; left: 10px"></div>


			<div id="countryPicker" class="col-md-12 .col-md-offset-1">
				<h2 style="color: #FFCA00">Select Country of Origin</h2>

				<div id="countryFlag" ng-repeat="country in filteredCountries" class="col-lg-1 col-md-2 col-sm-3 col-xs-4 col-centered">
					<img src="images/{{ country.flag }}" alt="country.name" draggable="false" ng-click="selectCountry(country)" style="display:block; margin: 0 auto; width: 90px; height: 90px;">
					<p style="color: #F8F8F8; text-align: center; white-space: nowrap; margin-left: 0px; margin-right: 0px;">{{ country.name }}</p>
				</div>
			</div>

			<!-- STEP 2 - COUNTRY VISUALIZER -->
			<div id="countryVisualizer" class="col-lg-6 col-md-12" style="display: none">
				<span id="goBackArrow" class="glyphicon glyphicon-arrow-left" ng-click="goBack()"></span>

				<h2 style="color: #F8F8F8; text-align: center; position: absolute; left:285px; top: 40px"> Viewing the rest of the world as <strong style="color: #B08062">{{ originCountry.name }}</strong></h2>

				<div id="selectedCountryInfo">
					<img class="noselect" draggable="false" src="images/{{ selectedCountry.flag }}" alt="country.name" style="display:block; top:170px; opacity: .4;margin: 0 auto; position: relative;z-index: 1;">
					<img class="noselect" draggable="false" src="images/middleCircle.png" style="display: inline;margin: 0 auto;top: -10px;right: -55px; width: 500px; height:500px; position: absolute; z-index: 0;">
					<h2 class="noselect" draggable="false" style="bottom: 80px; color: #B09062;text-align: center; position: relative; z-index: 1;">{{ selectedCountry.name }}</h2>
					<p class="noselect" draggable="false" style="text-align: center; bottom: 80px ;margin-bottom: 50px; position: relative; z-index: 1;" ng-style="checkIfNoData(selectedCountryPopulation)">{{ selectedCountryPopulation | textOrNumber }}</p>
					<h3 class="noselect" draggable="false" style="color: #75C9FF; bottom: 110px; text-align: center; margin-bottom: 50px; text-transform: capitalize; position: relative; z-index: 1;"">{{ selectedCountry.continent }}</h3>
					<p class="noselect" draggable="false" style="text-align: center; position: relative; z-index: 1;"">Our values differ by:</p>
					<h1 class="noselect" draggable="false" id="valueAlike" style="text-align: center; position: relative; z-index: 1; font-size: 40px" ng-style="checkIfNoDataForOriginCountry(selectCountryValueDifference)"> {{ selectCountryValueDifference }}</h1>
					<span id="goToRootArrow" class="glyphicon glyphicon-arrow-left" ng-click="goBackToRoot()" style="position: absolute; z-index: 10; cursor: pointer;"></span>
				</div>

			<section class="webdesigntuts-workshop">
				<form ng-submit="searchFilter()">		    
					<input type="search" ng-model="searchValue" placeholder="Search for a country or continent">		    	
					<input type="submit" id="submit" value="Search" style="width: 80px;">Search</input>
				</form>
			</section>
			</div>

			<div id="questionVisualiserContent" class="col-lg-6 col-md-12"> </div>
		</div>



		<div id="projInfo" class="row">
			<h1>Process</h1>
			<div class="row" style="margin-top: 50px">
				<div id="processInfo" class="col-sm-6">
					<h2>Analytic trail 1</h2>
					<p>I started out with...</p>
				</div>
				<div id="processInfo" class="col-sm-6">
					<h2>Analytic trail 2</h2>
					<p>I changed this...</p>
				</div>
			</div>
			<div class="row" style=" align-items: center;">
				<div id="processInfo" class="col-sm-12">
					<h2>Learning</h2>
					<p>Here is what I learned..</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>